@use "./partials/global";

.game {

    &__content {
        overflow: hidden;
        &-img {
            width: 100%;
            filter: blur(35px);
            margin-bottom: 30px;
            
        }
    }
}